<div class="container">
    <div class="header clearfix">
        <nav>
            <ul class="nav nav-pills float-right">
                <li class="nav-item">
                    <a class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="jumbotron">
        <h1 class="jumboheader">NPR News Feed</h1>
        {{!-- <p class="lead">Scrape NPR for the latest articles</p> --}}
        <p><a class="btn btn-lg btn-success" href="/scrape" role="button">Fetch the latest !</a></p>
    </div>

    {{!--News Cards--}} {{!--Iterate through the results and populate the handlebars injection points with the scraped titles,
    links, and article snippets.--}} {{#each result}}
    <div class="card news-section">
        <a href="{{this.link}}">
            <h4 class="card-header">{{this.title}}</h4>
        </a>
        <div class="card-block">
            
            <h4 class="card-title"></h4>
            </a>
            <a href="{{this.link}}">
                <p class="card-text">{{this.summary}}</p>
            </a>
            <br>
            <a href="/articles/{{this._id}}" class="btn btn-primary">Comment</a>
        </div>
    </div>
    <br>
    <br> {{/each}}



    <footer class="footer">
        <p>Joel Hernandez 2018</p>
    </footer>

</div>